.raleway_font{
	    font-family: 'Raleway', sans-serif;
}

.open_sans_font{
	    font-family: 'Open Sans', sans-serif;
}


body {
	padding-top: 100px;

}
#form_creazione_evento {
	width:90%;
	min-width: 90%;
    min-height: 60%;
	
}
#map{
	
   
}
#login_body  {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


label.error {
	color: red;
	font-weight: normal;
}


.geocoder {
	border: 1px solid #ced4da;
	z-index: 1;
	margin: 20px;
}

.mapboxgl-ctrl-geocoder {
	min-width: 100%;
	width: 300px !important;
	box-shadow: none;
	border: none;
	   margin:auto;
    max-width: 360px;

	
}

.mapboxgl-ctrl-geocoder--input {
	border: 1px solid #ced4da;
	border-radius: 5px;
		min-width: 100%;
		width: 300px !important;
}

	  

.slick-prev:before {
	color: black;
}
.slick-next:before {
	color: black;
}


.slick-slide {
	margin-right: 5px;
	margin-left: 5px;
}






#map{
	width: 100% !important;
     
	
}
