::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; ;
}
 
::-webkit-scrollbar-thumb {
  background: #8e99a4; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
	padding-top: 90px;

}

@media screen and (max-width: 576px) {
  #login_form {
    width: 100%;
    height: 100%;
    max-width: none !important;
  }
}

#form_creazione_evento {
	width:90%;
	min-width: 90%;
    min-height: 60%;
	
}

.info-element {
	box-shadow: 0px 0px 37px -10px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 37px -10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 37px -10px rgba(0, 0, 0, 0.15);
	border-bottom-style: solid;
	border-bottom-width: medium;
}


#login_body  {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

label.error {
	color: red;
	font-weight: normal;
}

.btn-outline-light {
	color: black;
}

.geocoder {
	border: 1px solid #ced4da;
	z-index: 1;
	margin: 20px;
}

.mapboxgl-ctrl-geocoder {
	min-width: 100%;
	width: 100% !important;
	max-width: none !important;
	max-height: none !important;
	box-shadow: none !important;
	border: none !important;
	margin: none;
}

.mapboxgl-ctrl-geocoder--input {
	border: 1px solid #ced4da !important;
	border-radius: 5px !important;
	width: 100% !important;
	max-width: auto !important;
	display: block;
}

.slick-prev:before {
	color: black;
}
.slick-next:before {
	color: black;
}


.sport_selector:hover {
	background-color: #e7e7e7 !important;
}

.selected_sport {
	background-color: #D0E4F5 !important;
	color: #206bc0 !important;
}

p {
    margin: 0;
    padding: 0;
}

.step {
  display: block;
}

.step.active {
  display: block;
}

.add-playground {
	background-color: transparent !important;
	border: none !important;
  	color: #0d6efd !important;
}

.delete-playground {
	background-color: transparent !important;
	border: none !important;
	color: #dc3545 !important;
}

